.homepage {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menuContainer_menu {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 50rem;
        background-color: rgb(97, 95, 97);
    }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
}
